@using Sistema.UserMethods
@using VS = Sistema.UserStrings.ViewStrings;

@model Paginacion<Sistema.Models.Categoria>

@{
    ViewData["Title"] = VS.IndexEsp;

    var prevDisabled = (!Model.HasPreviousPage ? "disabled" : "");
    var nextDisabled = (!Model.HasNextPage ? "disabled" : "");
}

<h2>Categoría Cursos</h2>

<p>
    <a asp-action="Create"><button class="btn btn-primary">@VS.NewEsp</button></a>
</p>

<!-- <Filtrado de Datos> -->
<form asp-action="Index" method="get">
    <div class="form-acctions no-color">
        <p>
            Filtro: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="@VS.SearchEsp" class="btn btn-default" />
            <a asp-action="Index">@VS.AllRegEsp</a> | @VS.ShownRegEsp @Model.TotalR
        </p>
    </div>
</form>
<!-- </Filtrado de Datos> -->

<table class="table">
    <thead>
        <tr>
            <!-- <Ordenado de Datos> -->
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["NombSortParam"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @VS.ModCatCampNombre
                </a>
            </th>
            <th>
                <a
                   asp-action="Index"
                   asp-route-sortOrder="@ViewData["DescSortParam"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @VS.ModCatCampDescripcion
                </a>
            </th>
            <!-- </Ordenado de Datos> -->
            <th>
                @VS.ModCatCampEstado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaID">@VS.EditEsp</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoriaID">@VS.DetailEsp</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoriaID">@VS.DeleteEsp</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a
   asp-action = "Index"
   asp-route-sortOrder = "@ViewData["CurrentSort"]"
   asp-route-page = "@(Model.PageIndex - 1)"
   asp-route-currentFilter = "@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    @VS.PrevEsp
</a>

@for (int i = 1; i <= Model.TotalPages; i++)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@i"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default">
        @i
    </a>
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    @VS.NextEsp
</a>